@import url('https://fonts.googleapis.com/css?family=Raleway');
form{
  max-width: 41em;
  margin: 4em auto;
position:relative;
   background: #f4f4f4;
    padding: 2em 3em;
  }
  .switch {
    align-self: flex-end;
    margin: 0.9375rem;
    cursor: pointer;
}
body .dark {
  background-color: black;
  color:white;

}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}
form h1{
   font-family: "Raleway";
    color:#6cce5f;
  }
form input[type=text]::placeholder{
  font-family: "Raleway";
  color:#666;
}
form .data{
   margin-top: 1em;
}
form .data li{
  background: #fff;
   border-left: 4px solid #6cce5f;
    padding: 1em;
    margin: 1em auto;
    color: #666;
     font-family: "Raleway";
    }
form .data li i{
   float: right;
    color: #888;
   cursor: pointer;
  }
form .input-group-text{
   background: #6cce5f;
   border-radius: 50%;
  width: 5em;
   height: 5em;
   padding: 1em 23px;
   color: #fff;
     position: absolute;
      right: 13px;
        top: 68px;
  cursor: pointer;}
form .input-group-text i{
  font-size: 2em;
}
form .form-control{
  height: 3em;
  font-family: "Raleway";
}
form .form-control:focus{
  box-shadow: 7;
}
