
<img src="assets/cust.png" class="img-fluid" alt="Responsive image">
<div class="box">
   <div class="contact">
     <p class="con">Contact Us</p>
   </div>
   <div class="cont">
     <div class="numb">
    <b><p>Phone Numbers:</p></b>
        <p>1800 765 765</p>
        <p> 1800 987 987</p>
      </div>
      <div class="numb">
      <b><p>Email us at:</p></b>
        <p>garinsure@gmail.com</p>
        <p> garinsurepremium@gmail.com</p>
      </div>
      <div class="numb">
        <b><p>Address:</p></b>
        <p>Gar Insure</p>
        <p>GNK centurion,6th floor,plot.no:6</p>
        <p>Ronny road,Hyderabad,500123</p>
      </div>
   </div>
</div>
