
<!-- <div class="homie">
  <button type="button" class="btn btn-success suc" routerLinkActive="Active" routerLink="weather">Weather</button>
  <button type="button" class="btn btn-danger dan"  routerLinkActive="Active" routerLink="exrates">Exchange Rates</button>
  <button type="button" class="btn btn-secondary sec"  routerLinkActive="Active" routerLink="profile">View Profile</button>

</div> -->


	<!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->

	<div class="cc weath">
		<button class="cbut but1" routerLinkActive="Active" routerLink="weather"><span class="ar">Weather</span></button>
	</div>
	<div class="cc exrates">
		<button class=" cbut but2" routerLinkActive="Active" routerLink="exrates"><span class="ar">Exchange Rates</span></button>
	</div>
	<div class="cc prof">
		<button class="cbut but3" routerLinkActive="Active" routerLink="profile"><span class="ar">Profile</span></button>
  </div>
  <app-news></app-news>
