
  <!-- <div class="asset">
      <img src="assets/insu.jpg">
    </div> -->
    <body>
      <div class="first-page">

    <div id="carouselExampleCaptions" class="carousel slide carousel-fade car" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/insu.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>Insurance for Business and Employees</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/ins.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>We offer a fair,easy-to-use service that provides total transparency</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/inss.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>We include first hand help from the advisors.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>




    <!-- <div class="content">
        <div class="txt">
          <p class="cont">Insurance for businesses</p>
          <p class="cont"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and Employees</p>
        </div>
        <div class="btn">
          <button class="btn1" (click)="onSign()">SignUp</button>
        </div>
    </div>
      <p class="subcontent">we offer a fair,easy-to-use service that provides total transparency and includes first hand help from the advisors.</p>
  -->
      <!-- <div class="org-details">
      <p id="orghed">Organization Details</p>
    </div>
    <div class="org-blocks">
      <div class="org-profile" routerLinkActive="Active" routerLink="profile">
        <div class="prof-img">
          <i class="fas fa-user fa-7x"></i>
        </div>
        <div class="prof">
          <p>Profile</p>
        </div>
      </div>
      <div class="org-profile" routerLinkActive="Active" routerLink="policies">
        <div class="prof-img">
          <i class="fas fa-list fa-7x"></i>
        </div>
        <div class="prof">
          <p>Policies</p>
        </div>
      </div>
      <div class="org-profile" routerLinkActive="Active" routerLink="claims">
        <div class="prof-img">
          <i class="fas fa-list-ol fa-7x"></i>
        </div>
        <div class="prof">
          <p>Claims</p>
        </div>
      </div>
    </div> -->

    <div class="org-details">
      <p id="orghed">Our Products</p>
    </div>
    <div class="org-blocks">
      <div class="org-profile" routerLinkActive="Active" routerLink="vehicle">
        <div class="prof-img">
          <i class="fas fa-car-side fa-7x"></i>
        </div>
        <div class="prof"  >
          <p>&nbsp;&nbsp;Vehicle</p>
          <p>Insurance</p>
        </div>
      </div>
      <div class="org-profile" routerLinkActive="Active" routerLink="liability">
        <div class="prof-img">
          <i class="fas fa-server fa-7x"></i>
        </div>
        <div class="prof">
          <p>&nbsp;Liability</p>
          <p>Insurance</p>
        </div>
      </div>
      <div class="org-profile" routerLinkActive="Active" routerLink="property">
        <div class="prof-img">
          <i class="fas fa-building fa-7x"></i>
        </div>
        <div class="prof">
          <p>&nbsp;Property</p>
          <p>Insurance</p>
        </div>
      </div>
    </div>
    <div class="org-blocks">
      <div class="org-profile" routerLinkActive="Active" routerLink="income">
        <div class="prof-img">
          <i class="fas fa-money-bill-alt fa-7x"></i>
        </div>
        <div class="prof">
          <p>&nbsp;&nbsp;Income </p>
          <p>Insurance</p>
        </div>
      </div>
      <div class="org-profile" routerLinkActive="Active" routerLink="employee">
        <div class="prof-img">
          <i class="fas fa-users fa-7x"></i>
        </div>
        <div class="prof">
          <p>Employee </p>
          <p>Insurance</p>
        </div>
      </div>
      <div class="org-profile" routerLinkActive="Active" routerLink="travel">
        <div class="prof-img">
          <i class="fas fa-plane fa-7x"></i>
        </div>
        <div class="prof">
          <p>&nbsp;&nbsp;Travel</p>
          <p>Insurance</p>
        </div>
      </div>
    </div>

    <div class="org-details">
      <p id="orghed">Organization Details</p>
    </div>
    <div class="org-blocks">
      <div class="org-profile" routerLinkActive="Active" routerLink="profile">
        <div class="prof-img">
          <i class="fas fa-user fa-7x"></i>
        </div>
        <div class="prof">
          <p>Profile</p>
        </div>
      </div>
      <div class="org-profile" routerLinkActive="Active" routerLink="policies">
        <div class="prof-img">
          <i class="fas fa-list fa-7x"></i>
        </div>
        <div class="prof">
          <p>Policies</p>
        </div>
      </div>
      <div class="org-profile" routerLinkActive="Active" routerLink="claims">
        <div class="prof-img">
          <i class="fas fa-list-ol fa-7x"></i>
        </div>
        <div class="prof">
          <p>Claims</p>
        </div>
      </div>
    </div>


    <div class="org-details">
      <p id="orghed">Our Services</p>
    </div>
    <div class="org-blocks">
      <div class="org-profile" routerLinkActive="Active" routerLink="customer-care">
        <div class="prof-img">
          <i class="fas fa-phone-alt fa-7x"></i>
        </div>
        <div class="prof">
          <p>Customer</p>
          <p> &nbsp;&nbsp;Care</p>
        </div>
      </div>
      <div class="org-profile" routerLinkActive="Active" routerLink="req-claim">
        <div class="prof-img">
          <i class="fas fa-caret-square-down fa-7x"></i>
        </div>
        <div class="prof">
          <p>Request</p>
          <p> &nbsp;&nbsp;Claim</p>
        </div>
      </div>
      <div class="org-profile">
        <div class="prof-img">
          <i class="fas fa-comment-dots fa-7x"></i>
        </div>
        <div class="prof">
          <p>Live </p>
          <p>Agent</p>
        </div>
      </div>
    </div>
    <footer>

    </footer>
 </div>
</body>
