
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Fill out your details</ng-template>
    <!-- <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required/>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
      </form> -->
      <!-- <h1 class="head">Vehicle Insurance</h1> -->

      <form class="chek" #regForm="ngForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Company name</label>
            <input type="text" class="form-control" id="inputEmail4" required [(ngModel)]="this.comp" name="comp" ngModel>
          </div>
          <!-- <div class="form-group col-md-6">
            <label for="inputPassword4">Service Type</label>
            <input type="text" class="form-control" id="inputPassword4" required [(ngModel)]="this.servt" name="servt" ngModel>
          </div> -->
        </div>
        <div class="form-group">
          <label for="inputAddress">No of Workers</label>
          <input type="tel" class="form-control" id="inputAddress" placeholder="1234 Main St" required [(ngModel)]="this.numpeople" name="numpeople" ngModel>
        </div>
        <!-- <div class="form-group">
          <label for="inputAddress2">Registration Year</label>
          <input type="tel" maxlength=4 class="form-control reg" disabled id="inputAddress2" placeholder="mail" required [(ngModel)]="this.regyear" name="regyear" ngModel>
        </div> -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity " required [(ngModel)]="this.city" name="city" ngModel>
          </div>

          <div class="form-group col-md-6">
            <label for="inputZip">Mobile</label>
            <input type="tel" maxlength=10 class="form-control" id="inputZip" required [(ngModel)]="this.mobile" name="mobile" ngModel>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" required>
            <label class="form-check-label" for="gridCheck" >
              Agree terms and conditions
            </label>
          </div>
        </div>

        <!-- <button  class="btn btn-primary" (click)="onReg(regForm)">Proceed</button> -->
        <div>
          <button mat-raised-button matStepperNext (click)="onReg(regForm)">Next</button>
        </div>
      </form>



  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <!-- <form [formGroup]="secondFormGroup"> -->
      <ng-template matStepLabel>Verify details</ng-template>
      <!-- <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required/>
      </mat-form-field> -->

      <form class="chek" >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Company name</label>
            <input type="text" class="form-control comp" disabled id="inputEmail4" required [(ngModel)]="this.comp" name="comp" ngModel>
          </div>
          <!-- <div class="form-group col-md-6">
            <label for="inputPassword4">Service Type</label>
            <input type="text" class="form-control servt" disabled id="inputPassword4" required [(ngModel)]="this.servt" name="servt" ngModel>
          </div> -->
        </div>
        <div class="form-group">
          <label for="inputAddress">No of Employees</label>
          <input type="tel" class="form-control npep" disabled id="inputAddress" placeholder="1234 Main St" required [(ngModel)]="this.numpeople" name="numpeople" ngModel>
        </div>
        <!-- <div class="form-group">
          <label for="inputAddress2">Registration Year</label>
          <input type="tel" maxlength=4 class="form-control reg" disabled id="inputAddress2" placeholder="mail" required [(ngModel)]="this.regyear" name="regyear" ngModel>
        </div> -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control cit" disabled id="inputCity " required [(ngModel)]="this.city" name="city" ngModel>
          </div>

          <div class="form-group col-md-6">
            <label for="inputZip">Mobile</label>
            <input type="tel" maxlength=10 class="form-control mob" disabled id="inputZip" required [(ngModel)]="this.mobile" name="mobile" ngModel>
          </div>
        </div>




      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Make payment</ng-template>
    <div class="form-group col-md-6">
      <label for="inputZip">Premium to be paid(in Rs)</label>
      <input type="tel" maxlength=10 class="form-control prem" disabled id="inputZip" required [(ngModel)]="this.premium" name="premium" ngModel>
    </div>
    <div class="form-group col-md-6">
      <label for="inputZip">Claim assured(in Rs)</label>
      <input type="tel" maxlength=10 class="form-control clam" disabled id="inputZip" required [(ngModel)]="this.claim" name="claim" ngModel>
    </div>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button (click)="stepper.reset()">Make payment</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
