.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}


.chek{
  width:80%;
  margin: 0 auto;
}
.head{
  /* margin: 1rem auto; */
  margin-bottom: 50px;
  margin-left: 45%;
  font-size: 2rem;
  color: #4f974f;
}
